In [2]:
# 파이썬 배워야 하는 이유
# 컴퓨터를 잘 활용하기 위해서 : 컴퓨터 > CPU, RAM, SSD(HDD) 장치를 이용해서 연산을 빠르게 수행
# OS(운영체제:window,osx,android,ios...) > 컴퓨터의 장치를 컨트롤
# OS 에서 동작되는 프로그램 > 엑셀, 브라우져, 메신져, 게임 (코드뭉치)
# 엑셀 > 마소 개발자들이 작성(구현된기능만사용가능) : 파이썬을 배우면 기능을 구현해서 사용
# 컴퓨터를 잘 활용하면 > 업무의 효율이 올라감 > 적게 일하고 많은 수입

In [ ]:
# 파이썬 문법
# 프로그래밍 언어 배우는 목적 : CPU, RAM, SSD 사용
# 1. 변수선언 : RAM 사용 문법 : 저장공간 만들어 데이터 저장
# 2. 데이터타입 : RAM 효율적 사용 문법 : int, float, bool, str, list, tuple, dict
# 3. 연산자 : CPU 사용 문법 : 산술, 비교, 논리
# 4. 조건문 : 조건에 따라 코드를 실행 문법 : 코드를 효율적으로 작성 실행 문법 : if, elif, else
# 5. 반복문 : 특정 코드를 반복적으로 실행 문법 : 코드 유지보수 향상 : while, for, break, continue, range()
# 6. 함수 : 중복 코드를 묶어서 코드 작성 실행 문법 : 함수선언(코드작성:user1) > 함수호출(코드실행:user2)
# - def, argumnet-parameter, return, docstring
# 7. 클래스 : 변수, 함수를 묶어서 코드 작성 실행 문법 : 객체지향 구현한 문법 : class, self, __init__()
# 8. 모듈 : 변수, 함수, 클래스를 파일(.py)로 묶어서 코드 작성 실행 문법 :  import, from, as
# 9. 패키지 : 여러개의 모듈 파일을 디렉토리로 구분해서 코드 작성 실행 문법 : 버전정보
# - 내가 작성한 코드를 다른사람에게 전달하거나 다른사람이 작성한 코드를 내가 전달받을때 유용
# 10. 입출력 : IO : input output : SSD(HDD) 사용 문법 : pickle

In [3]:
# 1. 변수선언 : 식별자(문법,컨벤션(camelCase(X),snake_case(O):PEP8))

# 식별자 1개, 데이터 1개
data1 = 1
# 식별자 n개, 데이터 n개
data2, data3 = 2, 3
# 식별자 n개, 데이터 1개
data4 = data5 = 4

# 식별자 1개, 데이터 n개 : collection data type

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
data1      int     1
data2      int     2
data3      int     3
data4      int     4
data5      int     4

In [5]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [6]:
%whos

Interactive namespace is empty.

In [7]:
# 2. 데이터타입 : 기본(int, float, bool, str), 컬렉션(list, tuple, dict)
# 동적타이핑 : 변수선언시 자동으로 데이터타입 설정하는 기능
# int d1 = -3 (컴파일러언어)
d1, d2, d3, d4 = -3, 1.2, True, 'py'

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
d1         int      -3
d2         float    1.2
d3         bool     True
d4         str      py

In [29]:
# 컬렉션(list, tuple, dict) : 식별자 1개, 데이터 n개
# 데이터를 다룰때 개념 : CRUD : create, read, update, delete
# create : [], (), {k:v}
d5, d6, d7 = [1, 2, 'A', 'B'], (1, 2, 'A', 'B'), {'A': [1, 2], 2: 'B'}
# read : masking[] : data[idx], [key], [start:end], [start:end:stride]
print(d5, d5[2], d7['A'], d5[1:3], d5[:3], d5[2:], d5[::2], d5[-2])
# update : 데이터선택 = 수정할데이터
d5[2] = 'C'
print(d5)
# delete : del 데이터선택
del d5[2]
print(d5)

[1, 2, 'A', 'B'] A [1, 2] [2, 'A'] [1, 2, 'A'] ['A', 'B'] [1, 'A'] A
[1, 2, 'C', 'B']
[1, 2, 'B']

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
d1         int      -3
d2         float    1.2
d3         bool     True
d4         str      py
d5         list     n=4
d6         tuple    n=4
d7         dict     n=2

In [30]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [36]:
# 변수 속성값 함수 : print(), type(), id(), sys.getsizeof()
import sys
d1, d2 = [1, 2, 3], (1, 2, 3)
print(d1, d2)
print(type(d1), type(d2))
print(id(d1), id(d2)) # 깊은복사, 얕은복사
print(sys.getsizeof(d1), sys.getsizeof(d2)) # 튜플사용이유 : 같은 데이터 저장할때 더 적은 RAM 사용

[1, 2, 3] (1, 2, 3)
<class 'list'> <class 'tuple'>
1640798746176 1640798167616
88 64

In [37]:
# 3. 연산자
# 산술 : 데이터 + 데이터 = 데이터 : +, - < *, /, //, % < **
# 비교 : 데이터 + 데이터 = 논리값 : ==, !=, >, <, >=, <= : 조건 1개
# 논리 : 논리값(비교:조건1개) + 논리값(비교:조건1개) = 논리값 : not, and(T) > or(F) : 조건 2개 이상
# - and : 두 조건 모두 만족 True, or : 둘중에 하나의 조건 만족 True

In [40]:
# 4. 조건문 : if, elif, else
# 5. 반복문 : while, for, break, continue, range()
print('py1')
print('py1')
print('py1')

py1
py1
py1

In [42]:
count = 3
while count:
    count -= 1
    print('py1')

py1
py1
py1

In [44]:
# _ : 식별자가 필요한데 사용하지는 않는 경우
for _ in range(3):
    print('py')

py
py
py

In [45]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [47]:
# 6. 함수 : 코드를 효율적으로 작성 : 중복코드제거
# 사용법 : 함수선언(코드작성) > 함수호출(코드실행)

In [54]:
print(1 - 2)
print('py')
print(1 - 2)

-1
py
-1

In [59]:
# 함수선언(코드작성) : function 데이터타입 : 코드가 들어있는 데이터타입의 변수선언
def plus():
    print(1 + 2)

In [60]:
%whos

Variable   Type        Data/Info
--------------------------------
plus       function    <function plus at 0x0000017E07365BC0>

In [61]:
# 함수호출(코드실행)
plus()

3

In [62]:
plus()
print('py')
plus()

3
py
3

In [81]:
# parameter-argument : 함수를 호출하는 코드에서 함수를 선언하는 코드로 데이터 전달
# default parameter, keyword argument
# return : 함수 실행 결과를 변수에 저장, 출력
def plus(n1, n2=20, n3=30):
    print(n1 + n2 + n3)
    return n1 + n2 + n3
    
result = plus(1, n3=50)
print('result', result)

71
result 71

In [67]:
plus(1, 2) # 1 + 2
print('py')
plus(1, 3) # 1 + 3

3
py
4

In [85]:
# docstring : 함수의 설명글 : help()
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [86]:
print('A', 'B', sep=',', end=':')
print('C')

A,B:C

In [87]:
# 7. class 
# - 변수, 함수 묶어서 코드 작성 실행
# - 객체지향 구현 : 실제세계를 모델링하여 프로그램을 개발하는 방법론 : 협업이 좋아짐
# 클래스선언(코드작성) > 객체생성(메모리사용) > 메서드호출(코드실행)
# 클래스선언(설계도작성) > 객체생성(제품생산) > 메서드호출(제품사용)
# 클래스 식별자 컨벤션 : PascalCase(O), snake_case(X) : PEP8
# class, self, __init__(), 클래스는 사용자정의 데이터타입이다.

In [91]:
# 클래스선언(코드작성) 
# 스타크래프트 : Marine : health, ap, attack(target)
class Marine:
    health, ap = 40, 5
    def attack(self, target):
        target.health -= self.ap

In [92]:
# 객체생성(메모리사용) # DataFrame()
m1, m2 = Marine(), Marine()
m1.health, m1.ap, m2.health, m2.ap

(40, 5, 40, 5)

In [94]:
# dir() : 객체에 저장되어 있는 변수(함수포함) 출력
dir(m1)[-3:]

['ap', 'attack', 'health']

In [96]:
# 데이터수정 : 데이터선택 = 수정할데이터
m2.health, m2.ap = 60, 7
m1.health, m1.ap, m2.health, m2.ap

(40, 5, 60, 7)

In [97]:
# 메서드호출(코드실행)
m2.attack(m1)
m1.health, m1.ap, m2.health, m2.ap

(33, 5, 60, 7)

In [ ]:
# self : 객체자신
# 메서드의 종류 : instance(self), class(cls), static()
# Marine.attack(self, target) : target.health -= self.ap
# m1.attack(m2) : self == m1, target == m2 :  target.health -= self.ap > m2.health -= m1.ap

In [102]:
# 생성자 메서드 : 스페셜 메서드 중 하나(특별한 기능을 하는 앞뒤로 __가 있는 메서드)
# __init__() : 객체생성할때 실행되는 메서드

In [138]:
# 클래스선언(코드작성) 
class Marine:
    
    # health, ap = 40, 5
    # 생성자 메서드 : 객체 생성시 변수의 초기값을 검사 및 설정
    def __init__(self, health, ap=5):
        self.health, self.ap = health, ap
        
    def attack(self, target):
        target.health -= self.ap

In [120]:
# 객체생성(메모리사용)
m1, m2 = Marine(40, 5), Marine(60)

In [121]:
# 메서드호출(코드실행)
m2.attack(m1)

In [123]:
# 데이터 프레임의 활용
import pandas as pd # 다른 사람이 만든 클래스 코드를 가져옴 : 클래스선언(코드작성)
df = pd.DataFrame({'kospi': [3, 4, 5], 'usd': [9, 2, 1]}) # 객체생성(메모리사용)
df

   kospi  usd
0      3    9
1      4    2
2      5    1

In [128]:
# dir(df)
# help(df.corr)
df.corr()

          kospi       usd
kospi  1.000000 -0.917663
usd   -0.917663  1.000000

In [134]:
data = 'python' # data : str 클래스로 만들어진 객체
# type(data)
# data.upper()
dir(data)[-3:]

['translate', 'upper', 'zfill']

In [135]:
help(data.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [136]:
data.upper()

'PYTHON'

In [141]:
# 클래스는 사용자정의 데이터타입이다.
# m1 객체의 클래스 : Marine
# m1 객체의 데이터타입 : Marine
# 클래스는 데이터타입이다.
# Marine 클래스는 우리가 만듦 : 사용자정의
# 클래스는 사용자정의 데이터타입이다.
m1 = Marine(40)
type(m1)

__main__.Marine

In [142]:
# d1 객체의 클래스 : str
# d1 객체의 데이터타입 : str
# d1 객체에서 사용가능한 변수와 메서드는 str 클래스에 정의
d1 = 'python'
# d2 객체의 클래스 : list
# d2 객체의 데이터타입 : list
# d2 객체에서 사용가능한 변수와 메서드는 list 클래스에 정의
d2 = [1, 3, 2]
# > 데이터 타입에 따라서 변수(객체)에서 사용가능한 변수, 메서드가 다르다.
type(d1), type(d2)

(str, list)